.all {
  width: 80%;
  margin: 20px auto;

}
.card {
  height: 500px;
  overflow: auto;
}
.card-button {
  position:absolute;
  bottom: 10px;

}
.like-button {
  background:transparent url(like.png) no-repeat top;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  height: 40px;
  width: 40px;
  border: none;
}
