<div class="all">
  <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://wallpaperset.com/w/full/8/1/c/489991.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nunc iaculis turpis purus, ac convallis turpis ultrices quis. Duis molestie lobortis mauris,
        et imperdiet lacus blandit id.  </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <div class="card-button"><a href="#" class="btn btn-primary">Go somewhere</a></div>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://wallpaperset.com/w/full/8/1/c/489991.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nunc iaculis turpis purus, ac convallis turpis ultrices quis. Duis molestie lobortis mauris,
        et imperdiet lacus blandit id.  </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <div class="card-button"><a href="#" class="btn btn-primary">Go somewhere</a></div>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://wallpaperset.com/w/full/8/1/c/489991.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nunc iaculis turpis purus, ac convallis turpis ultrices quis. Duis molestie lobortis mauris,
        et imperdiet lacus blandit id.  </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <div class="card-button"><button class="like-button"></button></div>
    </div>
  </div>
</div>
</div>

