<!-- Default form login -->
<form #form1="ngForm" class="text-center border border-light p-5" style="margin: 215px auto; width: 40%">

  <p class="h4 mb-4">Sign in</p>

  <!-- Email -->
  <input type="email" id="defaultLoginFormEmail"  class="form-control mb-4" placeholder="E-mail" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">

  <!-- Password -->
  <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
  <div id="error"></div>
  <!-- Sign in button -->
  <button mdbBtn color="dark" block="true" (click)="login()" class="my-4" type="submit">Sign in</button>

  <!-- Register -->
  <p>Not a member?
    <a routerLink="/register">Register</a>
  </p>



</form>
<!-- Default form login -->
