<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add plant</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Name</span>
        </div>
        <input type="text" class="form-control"  aria-describedby="basic-addon1" #name>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" >Type</span>
        </div>
        <input type="text" class="form-control"  aria-describedby="basic-addon1" #type>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" >Size</span>
        </div>
        <input type="text" class="form-control"  aria-describedby="basic-addon1" #size>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" >Origin</span>
        </div>
        <input type="text" class="form-control"  aria-describedby="basic-addon1" #origin>
      </div>
      <label for="basic-url">Image URL</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">https://img/.png</span>
        </div>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" #image>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Water needs</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01" #waterNeeds>
          <option selected value="Regular">Regular</option>
          <option value="Very Low">Very Low</option>
          <option value="Under hot, dry, and/or windy conditions">Under hot, dry, and/or windy conditions</option>
          <option value="High water-use">High water-use</option>
        </select>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Soil-needs</span>
        </div>
        <input type="text" class="form-control" aria-label="" #soil_needs>
        <div class="input-group-append">

          <span class="input-group-text">pH</span>
        </div>
      </div>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">More about plant:</span>
        </div>
        <textarea class="form-control" aria-label="With textarea" #more></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="addNewItem(name.value, type.value, origin.value,soil_needs.value,waterNeeds.value,more.value,size.value,image.value, '0')">Save</button>
  </div>
</ng-template>
<a routerLink="/list-page/add">
  <button class="btn btn-lg btn-outline-dark " (click)="open(content)" style="width: 80%; margin-left: 120px;">Add Plant </button>
</a>
<router-outlet></router-outlet>
<hr>

