<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark">

  <!-- Navbar brand -->
  <a class="navbar-brand" routerLink="/home" style="padding-left: 60px;padding-right: 60px;">Plant Wiki</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/blog-page" routerLinkActive="active">Blogs</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/list-page" routerLinkActive="active">Plants</a>
      </li>


    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <div class="btn-group" mdbDropdown style="padding-right: 100px">
        <a mdbDropdownToggle type="button" mdbBtn color="dark" class="dropdown-toggle waves-light"
           mdbWavesEffect>
          {{username | loginOr}}
        </a>

        <div class="dropdown-menu dropdown-primary" style="background-color: black">
          <a *ngIf="!username || 0 === username.length" class="dropdown-item" routerLink="/login">Login</a>
          <div class="divider dropdown-divider"></div>
          <a *ngIf="!username || 0 === username.length" class="dropdown-item" routerLink="/register">Register</a>
          <a (click)="auth.logout()" *ngIf="username !== null && username !== ''" class="dropdown-item" href="#">Logout</a>
        </div>
      </div>
    </ul>
  </div>
  <!-- Collapsible content -->

</nav>

<!--This is temporary realisation of Angular Guards. When we will learn using HTTP Module (...), I will make it so that when someone logs in as admin,-->
<!--the boolean variable "asAdmin" will be true, otherwise false.-->

<!--/.Navbar-->
