p {
  font-family: "Kandara";
}
.card-footer {


}
.like-button {
  background:transparent url("like.png") no-repeat 50% 50%;
  /* put the height and width of your image here */
  height: 40px;
  width: 40px;
  border: none;
  background-size: cover;
}
.zoom {
  transition: transform .2s;
}
.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
