
.card-footer {


}
.like-button {
  background:transparent url("like.png") no-repeat 50% 50%;
  /* put the height and width of your image here */
  height: 40px;
  width: 40px;
  border: none;
  background-size: cover;
}
