.main {
  width: 80%;
  margin: 20px auto;
  font-family: "Book Antiqua";

}

.more1 {
  width: 80%;
  margin: auto;

}
.m-button {
  padding: 0;
  color: white;
  width: 100%;
  height: 24px;
  margin: 10px auto;
  border: 0px solid darkgreen;
  border-radius: 20px;
  background-color: black;

}
.midd {
  border-radius: 5px;
  font-family: "Book Antiqua";
  color: black;
  padding-top: 30px;
}
